{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="home-content">

		<h1>Bonjour et bienvenue sur Cuicuite !</h1>

		<p>Notre site internet référence les boissons, les cocktails et les snacks dans votre bar préféré !!!! lol</p>

		<img src="{{ asset('assets/images/bannercui.png') }}" class="admin-image"/>

	</div>
{% endblock %}
